html {
    scroll-behavior: smooth;
}

body {
    color: var(--pets-color5);
    font-family: var(--font-family__text);
}

/* Icons */
.menu:before {content: var(--icon-menu)}
.right:before {content: var(--icon-right)}
.heart:before {content: var(--icon-heart)}
.dog:before {content: var(--icon-dog)}
.cat:before {content: var(--icon-cat)}
.facebook:before {content: var(--icon-facebook)}
.twitter:before {content: var(--icon-twitter)}
.instagram:before {content: var(--icon-instagram)}
.youtube:before {content: var(--icon-youtube)}

.icon {
    font: 500 45px var(--font-family__icons);
    text-decoration: none;
}

.menu {
    font-size: 25px;
    padding-top: 8px;
    color: var(--pets-color3);
}

.menu:hover {
    color: var(--pets-color4);
}

.social {
    margin-right: 15px;
    color: var(--pets-color5);
    font-size: 25px;
}

.social:hover {
    color: var(--pets-color3);
}

.white {
    color: var(--pets-color1);
    font-size: 25px;
}

.white:hover {
    color: var(--pets-color3);
}

/* Links */
.link {
    font: 600 23px var(--font-family__text);
    color: var(--pets-color5);
    text-decoration: none;
    text-transform: uppercase;
}

/* Buttons */
.button {
    margin-bottom: 20px;
    color: var(--pets-color1);
    background-color: var(--pets-color5);
    cursor: pointer;
    transition: var(--base-animation);
}

.button:hover {
    background-color: var(--pets-color3);
}

._service {
    padding: 10px 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

/* .submit {
    width: 100%;
    padding: 5px;
    color: var(--pets-color1);
    background-color: var(--pets-color5);
}

.submit:hover {
    transition: var(--base-animation);
    cursor: pointer;
} */

/* Titiles and b*/
h1 {
    font: 600 50px var(--font-family__title);
}

h2 {
    font: 500 32px var(--font-family__title);
}

h3 {
    font: 500 22px var(--font-family__title);
}

h4 {
    font: 400 20px var(--font-family__title);
}

b {
    font-weight: 700;
}

.box {
    max-width: 1200px; /* 1200px go to some variable */
    margin: 0 auto;
    padding: 20px 30px;
}