@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

@font-face {
    font-family: "Pets Icons";
    font-style: normal;
    font-weight: 400;
    src:  url("../font/pets_icon.woff") format("woff"),
        url("../font/pets_icon.woff2") format("woff2");
    font-display: swap;
}
