.question {
    background-image: url('../../../img/puppy.jpg');
    background-size: cover;
    background-position: center right;
    padding-block: 50px;
}

.question .box {
    max-width: 50%;
    margin-right: 0;
    text-align: right;
}

.question .text {
    font-size: 15px;
}

.question .form {
    margin-left: auto;
}
